<h1>Conjunto de estudos:</h1>
<ul>
    <li>Foi trabalhado alguns dos recursos do Angular, aproveitando a ocasião para aperfeiçoar o CSS.</li><br>
    <li>Neste processo, foi utilizado o GIT/Github para versionamento e Github para hospedagem.</li>
  </ul>  
<hr><br><br>

<div class="play-container">
    <h3>Data binding:</h3>
    <p>Você clicou <span (click)="countClick()" >nisso</span> {{ clickCounter }} vezes!</p>
</div>

<div class="play-container">
    <h3>Two-way data binding:</h3>
    <p>
        <input type="text" placeholder="Digite algo!" [(ngModel)]="name">
        <br>
        <strong>Você digitou: </strong> {{ name }}
    </p>
</div>

<!-- <div class="play-container" [ngStyle]="{
    'background-color': clickCounter > 4  ? 'rgb(115, 185, 242)' : 'white',
    'border': clickCounter > 4 ? '4px solid black' : none
}"> -->

<!-- <div class="play-container" [class.active]="clickCounter > 4"> -->

<div class="play-container" [ngClass]="setClasses()">

    <h3>Data binding com condicional em elementos e estilos:</h3>
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p>O contador de cliques <strong>é MAIOR que</strong> 4!</p>
    </ng-template>
    
    <ng-template #none>
        <p>O contador de cliques <strong>é menor ou igual</strong> a 4!</p>
    </ng-template>
    
</div>